{% load i18n staticfiles %} 
<!DOCTYPE html>
<html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block head_title %}{% endblock head_title %}</title>
            <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.css" %}">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
            <script src="{% static "js/jquery.js" %}"></script>
            <script src="{% static "js/jquery-ui.js" %}"></script>
            <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
        </head>
        <body>
            <div class="container">
            
            {% block body %}
            {% block content %}
            {% endblock content %}
            {% endblock body %}
            {% block extra_body %}
            {% endblock extra_body %}
            </div>
        </body>
</html>
