{% load i18n staticfiles %} 
<!DOCTYPE html>
<html>
        <head>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <title>{% block head_title %}{% endblock head_title %}</title>
            <link rel="stylesheet" href="{% static "lib/bootstrap/css/bootstrap.css" %}">
            <link rel="stylesheet" href="{% static "css/style.css" %}">
            <link rel="stylesheet" href="{% static "css/jquery-ui.css" %}">
            <script src="{% static "js/jquery.js" %}"></script>
            <script src="{% static "js/jquery-ui.js" %}"></script>
            <script src="{% static "lib/bootstrap/js/bootstrap.min.js" %}"></script>
        </head>
        <body>
             <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="/">PICK delivery</a>
                </div>
                <ul class="nav navbar-nav">
                  <li><a href="/orders/">Orders</a></li>
                  <li><a href="#">Profile</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% if user.is_authenticated %}
                    <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                  {% else %}
                    <li><a href="/accounts/signup/"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="/accounts/login/"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  {% endif %}
                </ul>
              </div>
            </nav>

            <div class="container">
            
            {% block body %}
            {% block content %}
            {% endblock content %}
            {% endblock body %}
            {% block extra_body %}
            {% endblock extra_body %}
            </div>
        </body>
</html>
